.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

.main {
  padding:1rem;
  display: grid; 
  gap:1.625rem;
  max-width:1280px;
  margin-left: auto;
  margin-right: auto; 
  justify-content: center;
  grid-template-columns: repeat(4, 210px); 
}


.square{
  grid-column: span 2; 
}
.rectangle{
  grid-column: span 1; 
}
.fill{
  grid-column: span 4; 
}
.last{
  order:4
}

