.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

.main {
  display: grid; 
  padding-top: 1rem;
  padding-bottom: 1rem; 
  max-width:1280px;
  margin-left: auto;
  margin-right: auto; 
  align-items: center; 
  width: 100%; 
  grid-template-columns: repeat(3, minmax(0, 1fr)); 
}