

.title a:hover {
  text-decoration: underline;
}

.card {
  overflow:hidden;
  display: flex;
  position: relative;
  background-color: #111827;
  color: #ffffff;
  flex-direction: column;
  align-items: center;
  height: 380px;
  border-radius: 1rem;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;

}
.card:hover {
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
}

.card_image{
  object-position: center;
  overflow:hidden;
  object-fit:cover; 
  position: relative;
  filter: brightness(70%);
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);

  
}
.card:hover .card_image {
  filter: brightness(50%)
}


.card_main {
  position: absolute;
  gap:.625rem;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  text-transform: uppercase;
}
.card:hover .card_main {
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.card_topTitle {
  text-align: center;
  letter-spacing: 0.2rem;
  font: 300 .7rem "Roboto",sans-serif;

}


.card_mainTitle {
  text-align: center;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 2rem;
  font: 700 1.5rem "Roboto",sans-serif;
}


.card_info {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height:200px;
  flex-direction: column;
  margin: 2rem auto;
  text-align: center;
  opacity: 0;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);

}
.card:hover .card_info {
  overflow:hidden;
  visibility: visible;
  display: flex;
  opacity: 1;
  top: 180px;
  left: 50%;

}
.card_info p {
  font: 400 14px "Roboto",sans-serif;

}


.card button {
  cursor: pointer;
  text-transform:capitalize;
  opacity: 0;
  font-weight:700;
  position:absolute;
  border: 2px solid white;
  border-radius:.425rem;
  padding: 10px 20px;
  bottom: 0%;
  left: 50%;
  background-color: transparent;
  color: white;
  text-align: center;
  transform: translate(-50%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover button {
  bottom: 10%;
  left: 50%;
  opacity: 1;
}



/* .card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */
