.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

.main {
  padding: 1rem;
  display: grid;
  gap: 1.625rem;
  margin: 0 auto;
  justify-content: center;
  grid-template-columns: repeat(1, 350px);
}
.square {
  grid-column: span 1;
}
.rectangle {
  grid-column: span 1;
}
.fill {
  grid-column: span 1;
}
.last {
  order: 0;
}

.footer {
  display: flex;
  gap:1rem;
  padding: 1rem 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
}
.footer_linkedin {
  text-decoration: underline;
  text-underline-offset: 2px;
}
.footer_github {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .main {
    grid-template-columns: repeat(2, 210px);
  }
  .square {
    grid-column: span 1;
  }
  .rectangle {
    grid-column: span 1;
  }
  .fill {
    grid-column: span 2;
  }
}

@media (min-width: 1024px) {
  .main {
    grid-template-columns: repeat(4, 210px);
    max-width: 1280px;
  }
  .square {
    grid-column: span 2;
  }
  .rectangle {
    grid-column: span 1;
  }
  .fill {
    grid-column: span 4;
  }
  .last {
    order: 4;
  }
}
