.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

.main {
  padding: 1rem;
  display: grid;
  gap: 1.625rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  grid-template-columns: repeat(1, 350px);
}
.square {
  grid-column: span 1;
}
.rectangle {
  grid-column: span 1;
}
.fill {
  grid-column: span 1;
}
.last {
  /* order: 0; */
}

@media (min-width: 768px) {
  .main {
    grid-template-columns: repeat(2, 210px);
  }
  .square {
    grid-column: span 1;
  }
  .rectangle {
    grid-column: span 1;
  }
  .fill {
    grid-column: span 2;
  }
}

@media (min-width: 1024px) {
  .main {
    grid-template-columns: repeat(4, 210px);
    max-width: 1280px;
  }
  .square {
    grid-column: span 2;
  }
  .rectangle {
    grid-column: span 1;
  }
  .fill {
    grid-column: span 4;
  }
  .last {
    order: 4;
  }
}


